.thread {
  display: block;
  &:hover {
    text-decoration: none;
    background-color: rgba(255, 251, 251, 0.816);
  }
  &__media {
    display: flex;
    column-gap: 5px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
    padding: 10px 20px;
  }
}
.conversation {
  &__avatar {
    min-width: 70px;
  }
  &__img {
    width: 70px;
    height: 70px;
    border-radius: 40%;
  }
}
.selected {
  color: rgb(85, 155, 132);
}
